
// Icon for submit button
.btn-submit-wrap {
  position: relative;

  &:before {
    font-size: rem(14);

    position: absolute;
    right: 0;
    top: rem(15);

    border: rem(3) solid $brand-red;
  }
}

.btn-submit,
.wpcf7-submit {
  @extend .h3;

  &:hover {
    color: #fff;
    background-color: $brand-gray-dark;
    cursor: pointer;
  }
}

// Form overrides
.wpcf7 {
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include scale(0);

  p {
    @include clearfix();
    margin: 0;
  }

  label, 
  .wpcf7-form-control-wrap {
    @include clearfix();
    margin-bottom: ms(1);
  }

  .wpcf7-text,
  .wpcf7-textarea {
    font-size: ms(0);
    font-family: $font-family-body;
  }

  label {
    @include span(3 of 12 first);
    height: ms(3);
    text-align: right;
    padding-right: ms(1);
  }

  .wpcf7-header {
    @include span(9 of 12 last);
    @include brackets();
    text-align: center;
    margin-bottom: ms(1);
  }

  .wpcf7-field-wrapper {
    @include clearfix();
    @include span(12 of 12);
  }

  .wpcf7-form-control-wrap {
    @include span(9 of 12 last);
  }

  .wpcf7-textarea {
    width: 100%;
    max-height: ms(4);
    // float: right;
    // margin-right: 0;
  }

  .wpcf7-submit {
    @include span(9 of 12 last);
    margin-top: ms(1);
  }

  .hidden-fields-container {
    display: none;
    border: none
  }

  .wpcf7-response-output,
  .screen-reader-response {
    @include span(9 of 12 last);
    @extend .h3;

    text-align: center;
    margin: ms(1) auto;
  }

  .screen-reader-response {
    display: none;
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    left: rem(160);
  }

  &.scale {
    @include transition(all $transition-speed ease-in-out);
    @include scale(1.0);
  }

  @media (max-width: $screen-sm) {
    margin-top: ms(2);

    label,
    .wpcf7-form-control-wrap,
    .wpcf7-textarea,
    .wpcf7-submit,
    .wpcf7-response-output {
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      text-align: left;
    }

    .wpcf7-submit {
      margin-left: rem(20);
    }
  }
}

